Package: adduser-config
Version: 1.0.0-1big7
Depends: adduser, policykit-desktop-privileges
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:20
Description: Adduser configuration to BigLinux

